/* Heat-map Grayscales */
.very-high {
    background-color: #000;
}

.high {
    background-color: #444;
}

.medium {
    background-color: #888;
}

.low {
    background-color: #ccc;
}

.very-low {
    background-color: #fff;
}

/* Layout */

/* Global */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}